.form {
    height: 28px;
    display: flex;
    gap: 12px;
    
    align-items: center;
}

.input {
    background-color: antiquewhite;
    display: block;
    height: 40px;
    width: 580px;
    border: 1px solid #6a6a63;
    border-radius: 8px;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}

.button {
    color: var(--hover-color);
      background-color: var(--primary-color);
      border: 2px solid #6a6a63;
      padding: 10px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      box-shadow: 0 4px 8px rgba(2, 0, 0, 2.4);
    
}
.form{
    display: flex;
    justify-content: space-between;
}