.list {
    display: flex;
    column-gap: 24px;
    row-gap: 25px;
    list-style: none;
    flex-wrap: wrap;
}

.movies{
    
    border-top: 2px  solid black;
    border-bottom: 2px  solid black;;

}

.img{
    margin-top: 20px;
    width: 154px;
    height: 231px;
    border: 1px solid black;
}

.details{
    text-align: center;
    width: 156px;
    
    /* word-wrap: break-word; */
    /* overflow: hidden; */
   

    }
    .text{
        white-space: pre-wrap;
    }







